:root {
    --bg: white;
    --text: black;

    --grey: #333333;
    --green: green;
    --yellow: DarkGoldenRod;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --text: white;

        --grey: #dddddd;
        --green: lightgreen;
        --yellow: yellow;
    }
}

#color-mode:checked~* {
    --bg: black;
    --text: white;

    --grey: #dddddd;
    --green: lightgreen;
    --yellow: yellow;
}

@media (prefers-color-scheme: dark) {
    #color-mode:checked~* {
        --bg: white;
        --text: black;

        --grey: #333333;
        --green: green;
        --yellow: DarkGoldenRod;
    }
}

.color-scheme-wrapper {
    min-height: 100vh;
    background: var(--bg);
    color: var(--text);
    flex: 1;
}

.light-mode-hide {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .dark-mode-hide {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
    .light-mode-hide {
        display: initial;
    }
}

.bold {
    font-weight: bold;
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.grey {
    color: var(--grey);
}

.italic {
    font-style: italic;
}


html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3 {
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

details {
  padding: 0.5em 0em 0 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}

li {
  list-style-type: none;
  margin-top: 1em;
}

ul {
  margin: 0;
  padding: 0;
}


.no-underline {
    text-decoration: none;
}

:root {
  font-size: 16px;
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

* {
  box-sizing: border-box;
  max-width: 35rem;
}

html,
body,
div {
  max-width: none;
}

p {
  line-height: 1.5;
}

input[type="checkbox"] {
  opacity: 0.00001;
  position: absolute;
}

html,
body {
  padding: 0;
  margin: 0;
}

div > * + * {
  margin-top: 1.5rem;
}

::selection {
  background: var(--text);
  color: var(--bg);
}

label {
  cursor: pointer;
  position: absolute;
  background: var(--text);
  color: var(--bg);
  padding: 0.4rem;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 2px var(--bg), 0 4px var(--text);
  user-select: none;
}

label:active {
  transform: translateY(1px);
  box-shadow: 0 1px var(--bg), 0 3px var(--text);
}

label:after {
  content: "✔\FE0E";
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 1rem;
  border: solid 2px var(--bg);
  text-align: center;
  border-radius: 4px;
  color: transparent;
}

#color-mode:checked + label:after {
  color: var(--bg);
}

.color-scheme-wrapper {
  padding: 5rem 1rem;
}

a {
  color: inherit;
  text-decoration: underline 1px;
}
