<html lang="en" data-bs-theme="dark">
<head>
    {%- block head -%}
    <link rel="shortcut icon" type="image/svg+xml" href="data:image/svg+xml;utf8,
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
            <text y='.9em' font-size='90'>{{ site_emoji }}</text>
        </svg>" />
    <title>{% block title %}{{ site_title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- endblock head %}
</head>
<body>
    {%- block body %}
    <input id="color-mode" type="checkbox" name="color-mode">
    <label for="color-mode">
        <span class="dark-mode-hide">Dark Mode</span>
        <span class="light-mode-hide">Light Mode</span>
    </label>
    <div class="color-scheme-wrapper">
        <h1 class="no-underline">{{ request_info.http_info.method }} {{ request_info.request_path }}{% if request_info.request_query %}?{{ request_info.request_query }}{% endif %} HTTP/{{ request_info.http_info.version }}</h1>
        from <span class="green bold">{% if request_info.client_info.whois_url %}<a href="{{ request_info.client_info.whois_url }}">{% endif %}{{ request_info.client_info.ip }}</span>{% if request_info.client_info.whois_url %}</a>{% endif %} port <span class="yellow bold">{{ request_info.client_info.port }}</span> ({{ request_info.client_info.hostname }})</br>
        to <span class="green bold">{% if request_info.server_info.whois_url %}<a href="{{ request_info.server_info.whois_url }}">{% endif %}{{ request_info.server_info.ip }}</span>{% if request_info.server_info.whois_url %}</a>{% endif %} port <span class="yellow bold">{{ request_info.server_info.port }}</span> ({{ request_info.server_info.hostname }})</br>
        <h1>Headers</h1>
        {% for header, value in request_info.http_info.headers.items() %}
        <span class="bold">{{ header | e }}:</span> <span class="grey">{{ value | e }}</span><br/>
        {% endfor %}
        <h1>Content</h1>
        {% if request_info.http_info.body %}
        {{ request_info.http_info.body | e }}
        {% else %}
        <span class="italic">No content</span>
        {% endif %}
        <footer>    
            Powered by net-test
        </footer>
    </div>
    {% endblock body -%}
</body>
</html>
