<html lang="en" data-bs-theme="dark">
<head>
    {%- block head -%}
    <link rel="shortcut icon" type="image/svg+xml" href="data:image/svg+xml;utf8,
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>
            <text y='.9em' font-size='90'>{{ site_emoji }}</text>
        </svg>" />
    <title>{% block title %}Hello {{ request_info.address_info.ip | e }} | {{ site_title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- endblock head %}
</head>
<body>
    {%- block body %}
    <input id="color-mode" type="checkbox" name="color-mode">
    <label for="color-mode">
        <span class="dark-mode-hide">Dark Mode</span>
        <span class="light-mode-hide">Light Mode</span>
    </label>
    <div class="color-scheme-wrapper">
        <h1 class="no-underline">{{ request_info.http_info.method }} {{ request_info.http_info.path }}{{ "?" + request_info.http_info.query if request_info.http_info.query else '' }} HTTP/{{ request_info.http_info.version }}</h1>
            <span class="bold">from</span> <span class="green bold">
            {% set info = request_info.address_info %}
            {%- if info.ip_info_url %}<a href="{{ info.ip_info_url }}" target="_blank">{% endif -%}
                {{ info.ip }}</span>
            {%- if info.ip_info_url %}</a>{% endif %} port <span class="yellow bold">{{ request_info.client_port }}</span>/{{ request_info.http_info.transport_protocol }}
            {%- if info.ip_info_url -%}</br>
                rDNS: <span class="bold">{{ info.reverse_dns | default('no record present') }}</span></br>
                PTR: <span class="bold">{{ info.reverse_pointer }}</span></br>
                Entity: <span class="bold">{{ info.description | default('no description') }} ({{ info.entity_name }})</span></br>
                Registrant: <span class="bold">{{ info.registrant }} ({{ info.country }})</span>
            {%- endif -%}
        </br>
        at <span class="bold">{{ request_info.request_time }}</span></br>
        <details>
            <summary>Headers</summary>
            <ul>
            {% for header, value in request_info.http_info.headers.items() %}
            <li><span class="bold">{{ header | e }}:</span> <span class="grey">{{ value | e }}</span></li>
            {% endfor %}
            </ul>
        </details>
        <details>
            <summary>Content</summary>
            {% if request_info.http_info.body %}
            {{ request_info.http_info.body | e }}
            {% else %}
            <span class="italic">No content</span>
            {% endif %}
        </details>
        <footer>    
            Powered by <a href="https://github.com/das-kaesebrot/net-echo" target="_blank">net-echo</a> | API docs: <a href="docs">Swagger UI</a>/<a href="redoc">ReDoc</a>/<a href="openapi.json">openapi.json</a>
        </footer>
    </div>
    {% endblock body -%}
</body>
</html>
